.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
  object-fit: cover;
}
.building-facility-management,
.enim-tincidunt-donec {
  position: absolute;
  top: 318px;
  left: 20px;
  font-weight: 500;
  display: inline-block;
  width: 368px;
}
.enim-tincidunt-donec {
  top: 410px;
  font-size: var(--body-default-size);
  width: 320px;
}
.rectangle-parent {
  position: relative;
  background-color: var(--primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 500px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--neutral);
  font-family: var(--body-default);
}
